* {
	margin: 0;
	padding: 0;
}
.main-block {
    background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
    background-position: top left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}
.house {
    width: 150px;
    height: 150px;
    background: coral;
    position:  absolute;
    bottom: 0px;
    left: 75px;
    z-index: 3;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    position: absolute;
    bottom : 150px;
    left: 40px;
    z-index: 2;
}
.chimney {
    width: 20px;
    height: 60px;
    background: black;
    position: absolute;
    top: 60px;
    left: 200px;
}
.door {
    width: 60px;
    height: 90px;
    background: brown;
    position: absolute;
    bottom: 0px;
    left: 90px;
    z-index: 5;
}
.window {
    width: 40px;
    height: 40px;
    background: cyan;
    position: absolute;
    top: 210px;
    left: 170px;
    z-index: 4;
}